* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  color: #000;
  margin-left: 20px;
}

.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .signup {
  color: #0065fc;
  font-weight: bolder;
}

.topnav a:hover {
  color: #0065fc;
  text-decoration: overline;
  height: 60%;
}

.topnav a:active {
  color: #000;
}

.topnav-right {
  float: right;
}

form {
  display: flex;
}

form.search input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
}

#searchicon {
  background-color: #f2f2f2;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

form.search button {
  font-family: Raleway, sans-serif;
  background: #0065fc;
  color: white;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

form.search button:hover {
  background: #deebff;
}

.nav {
  display: flex;
}

.filter {
  display: flex;

  max-width: 70%;
  gap: 10px;
}
.filteritem {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

.filteritem:hover {
  color: #000;
  background-color: #deebff;
}
.filter p {
  font-weight: bold;
  margin: 10px;
}

.filter i {
  font-size: 20px;
  color: #0065fc;
}

.filter div {
  border: solid;
  height: 41px;
  border-width: 3px;
  border-radius: 30px;
  border-color: #f2f2f2;
}

.filter .fas {
  background-color: #deebff;
  border-radius: 50%;
  height: 41px;
  width: 41px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  align-items: center;
  max-width: 40%;
  height: 100%;
}

.infoitem {
  display: flex;
  align-items: center;
  gap: 2%;
  height: 30px;
}

.info i {
  font-size: 12px;
  color: #0065fc;
  cursor: pointer;
}

.info .fas {
  border: solid;
  border-color: #f2f2f2;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.maingrid {
  display: flex;
  flex-wrap: wrap;

  gap: 40px;
}

.maingrid a {
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}

.maingrid i {
  color: #0065fc;
}

.maingrid p {
  margin-left: 20px;
}
.container {
  display: grid;
  gap: 20px;
  width: 63%;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 20px;
  float: left;
  justify-content: space-around;
}

.container h3 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.container .item {
  background-color: #fff;
  
  border-radius: 20px;
  box-shadow: 3px 3px 3px 2px #dddddd;
}

.containericon {
  margin-left: 20px;
}

#graystar {
  color: #f2f2f2;
}

.container img {
  width: 225px;
  height: 125px;
  border-radius: 20px 20px 0 0;
  border: 5px solid #ffffff;
  cursor: pointer;
}

.sidecontainer img {
  width: 115px;
  height: 125px;
  border-radius: 20px 0 0 20px;
  float: left;
  border: 5px solid #ffffff;
}

.container2 img {
  width: 225px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}

.container div:hover {
  background-color: #deebff;
}

.sidecontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 33px;
  width: 32%;
  float: right;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
  justify-content: space-around;
}

.sidecontainer h3 {
  float: left;
  background-color: #f2f2f2;
}

.sidecontainer .sideitem1 {
  background-color: #f2f2f2;
  width: 100%;
  align-items: center;
}

#sideicon {
  color: #000;
  float: right;
  margin-top: 20px;
  font-size: 20px;
}

.sidecontainer .sideitem {
  background-color: #ffffff;
  
  font-size: 14px;
  border-radius: 20px;
  border: #ffffff;
  padding-right: 10px;
  box-shadow: 3px 3px 3px 2px #dddddd;
}

.sidecontainer .sideitem:hover {
  background-color: #deebff;
}

.container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  width: 100%;
  border-radius: 20px;
  justify-content: space-around;
}

.container2 h3 {
  grid-area: 1 / 1 /  span 1 / span 4;
}

.container2 .actitem1 {
  grid-area: 2 / 1 / span 2;
  width: 225px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 2px #f2f2f2;
}

.container2 .actitem3 {
  grid-area: 2 / 3 / span 2;
  width: 225px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 2px #f2f2f2;
}

.container2 .actitem2, .actitem4, .actitem5, .actitem6 {
  width: 225px;
  border-radius: 20px;
  padding-bottom: 5px;
  box-shadow: 3px 3px 3px 2px #f2f2f2;
}



.container2 .actitem1 img, .actitem3 img {
  height: 320px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
}

footer a {
  text-decoration: none;
}

.footer1 {
  display: flex;
  flex-direction: column;
}

.footer2 {
  display: flex;
  flex-direction: column;
}
.footer3 {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 426px) {

  body {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    align-items: center;
  }

  .maingrid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 5px;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
  }
  .sidecontainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
  }

}
