* {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  color: #000;
  margin: 0 10px 0 15px;
}

.topnav a {
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .signup {
  color: #0065fc;
  font-weight: bolder;
}

.topnav a:hover {
  color: #0065fc;
  text-decoration: overline;
  height: 60%;
}

.topnav a:active {
  color: #000;
}

.topnav-right {
  float: right;
}

form {
  display: flex;
  margin-top: 20px;
}

form.search input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
}

#searchicon {
  background-color: #f2f2f2;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

form.search button {
  font-family: Raleway, sans-serif;
  background: #0065fc;
  color: white;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

form.search button:hover {
  background: #deebff;
}

.filter {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 70%;
  gap: 10px;
  margin-top: 20px;
}
.filteritem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filteritem:hover {
  color: #000;
  background-color: #deebff;
}
.filter p {
  font-weight: bold;
  margin: 10px;
}

.filter i {
  font-size: 20px;
  color: #0065fc;
}

.filter div {
  border: solid;
  height: 41px;
  border-width: 3px;
  border-radius: 30px;
  border-color: #f2f2f2;
}

.filter .fas {
  background-color: #deebff;
  border-radius: 50%;
  height: 41px;
  width: 41px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  height: 100%;
  margin-top: 20px;
}

.infoitem {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.info i {
  font-size: 12px;
  color: #0065fc;
  cursor: pointer;
}

.info .fas {
  border: solid;
  border-color: #f2f2f2;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.maingrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  margin-top: 20px;
}

.maingrid a {
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}

.maingrid i {
  color: #0065fc;
}

.maingrid .graystar {
  color: #f2f2f2;
}

.maingrid p {
  margin-left: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 63%;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 20px;
  float: left;
  justify-content: space-around;
}

.container h3 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.container h4 {
  margin: 0;
  margin-left: 20px;
}

.containericon {
  margin-left: 20px;
  padding-bottom: 10px;
}

.container div:hover {
  background-color: #deebff;
  border: 5px solid #deebff;
}

.container .item {
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid #ffffff;
  box-shadow: 3px 3px 8px 5px #f2f2f2;
  cursor: pointer;
  box-shadow: 3px 3px 8px 5px #dddddd;
}

.container img {
  width: 100%;
  height: 135px;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  object-fit: cover;
}

.sidecontainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 45px;
  width: 32%;
  float: right;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
  justify-content: space-around;
}

.sidecontainer h3 {
  float: left;
  background-color: #f2f2f2;
}

#sideicon {
  color: #000;
  float: right;
  margin-top: 20px;
  font-size: 20px;
}

.sidecontainer .sideitem:hover {
  background-color: #deebff;
  border: 5px solid #deebff;
}

.sidecontainer .sideitem1 {
  background-color: #f2f2f2;
  width: 100%;
  align-items: center;
}

.sidecontainer .sideitem {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  border: 5px solid #ffffff;
  padding-right: 10px;
  box-shadow: 3px 3px 8px 5px #dddddd;
  cursor: pointer;
}

.sidecontainer img {
  width: 110px;
  height: 135px;
  border-radius: 20px 0 0 20px;
  float: left;
  margin-right: 15px;
  border-right: none;
  object-fit: cover;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 200px 30px 200px;
  gap: 30px;
  width: 98%;
  border-radius: 20px;
  text-align: justify;
  grid-template-areas:
  "a a a a"
  "b c d e"
  "b c d g"
  "b f d g";
}

.container2 p {
  font-weight: bold;
  margin: 10px 0 20px 20px;
}

.container2 h3 {
  grid-area: a;
}

.container2 .actitem1 {
  grid-area: b;
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 5px #f2f2f2;
}

.container2 .actitem3 {
  grid-area: d;
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 5px #f2f2f2;
}

.container2 .actitem2 {
  grid-area: c;
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 5px #f2f2f2;
}

.container2 .actitem6 {
  grid-area: g;
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 5px #f2f2f2;
}

.container2 .actitem4 {
  grid-area: e;
}

.container2 .actitem5 {
  grid-area: f;
}

.container2 .actitem4, .actitem5 {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 5px #f2f2f2;
}

.container2 .actitem1 img {
  height: 420px;
  object-fit: cover;
}

.container2 .actitem3 img {
  height: 420px;
  object-fit: cover;
}

.container2 .actitem4 img {
  height: 130px;
  object-fit: cover;
}

.container2 .actitem5 img {
  height: 130px;
  object-fit: cover;
}

.container2 img {
  width: 100%;
  height: 190px;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  object-fit: cover;
}

footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  margin: 20px 0 0 0;
  padding-bottom: 15px;
}

footer a {
  text-decoration: none;
}

.footer1 {
  display: flex;
  flex-direction: column;
}

.footer2 {
  display: flex;
  flex-direction: column;
}
.footer3 {
  display: flex;
  flex-direction: column;
}

@media  screen and (max-width: 829px) {
  body {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  header {
    width: 90%;
  }

  .topnav a:hover {
    text-decoration: underline;
  }

  .filter {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
  }

  .info {
    width: 90%;
  }

  .info .fas {
    width: 37px;
  }
  
  .container {
    width: 95%;
  }

  .sidecontainer {
    width: 95%;
    justify-content: space-around;
  }

  .sidecontainer .sideitem {
    width: 100%;
  }

  .sidecontainer .sideitem1 {
    width: 100%;
  }

  .sidecontainer img {
    width: 150px;
    height: 135px;
  }

}

@media screen and (max-width: 524px) {
  body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }

  .filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .info {
    width: 90%;
  }

  .info .fas {
    width: 37px;
  }

  .maingrid {
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 40px;
    margin: 5px;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background: none;
  }

  .container .item {
    box-shadow: 3px 3px 8px 5px #f2f2f2;
  }

  .sidecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    width: 95%;
    object-fit: cover;
    justify-content: space-around;
  }

  .container2 .resize {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  .container2 .resize img {
    width: 100%;
    height: 200px;
    justify-content: center;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
  }
}
